# IBM Watsonx.ai Configuration
IBM_CLOUD_API_KEY=hu5d5lSPjqHCVhIJAPojVn-hWJ--NYfDHFDLkkHv34Ky
IBM_WATSONX_PROJECT_ID=9672cba7-f458-40ac-8850-2aab032ac0cf
IBM_WATSONX_URL=https://us-south.ml.cloud.ibm.com

# Flask Configuration
FLASK_SECRET_KEY=your_secret_key_here
FLASK_ENV=development